**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env/
**/venv/
**/idea/
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.git/
**/.mypy_cache
**/.pytest_cache/
**/.hypothesis
**/*.sqlite3
**/celerybeat.pid
**/celerybeat-schedule
**/db.sqlite3
envs/env_dev
envs/env_prod
